#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #4f78ff;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #6b87ee;
}

button:active{
    background-color: #6181f5;
}

input{
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #1f0404;
    width: 150px;
    text-align: center;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}